.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.album-img{
  width: 50%;
  object-fit: cover
}
.card-album{
  margin: 5%;
  height: 85%;

}

.album{
  margin-top: 20vh
}
#nav a{
  color: white;
  text-decoration: none
}
.slider{
  min-height: 100vh
}
.slider img{
  min-height: 98vh;
  min-width: 100vw;
  margin-top: 2%;
  object-fit: cover

}
.details{
  color: #18ceda;
  font-size: 1.2em;
  text-decoration: none;
}
.details:hover{
  color: #18ceda;
  font-size: 1.5em;
  text-decoration: none
}

.home img{
  height: 100vh!important ;
  object-fit: cover
}

.avatar img{
  width: 5vw;
  border-radius: 55%;
  margin-right: 3vw
}

.photo-title{
  font-family: 'Marck Script', cursive;
}

@media screen and (max-width: 600px){


  .slider img{
    min-height: 92vh;
    min-width: 217vw;
    margin-top: 16%;
  }

  .avatar img{
    width: 13vw;
    border-radius: 50%
  }
  

}